*{
  padding: 0px;
  margin: 0px;
}
.el-header, .el-footer {
  /*background-color: #B3C0D1;*/
  background-color: white;
  color: #333;
  /*text-align: center;*/
  padding: 0px;
  height: 100%;
  /*line-height: 60px;*/
}

.el-aside {
  /*background-color: #D3DCE6;*/
  background-color: white;
  color: #333;
  /*text-align: center;*/
  height: 100%;
  /*line-height: 200px;*/
}

.el-main {
  /*background-color: #E9EEF3;*/
  display: flex;
  background-color: white;
  color: #333;
  /*text-align: center;*/
  /*line-height: 160px;*/
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
